body {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 400px;
}

.App {
    width: 400px;
    margin: auto;
    background-color: antiquewhite;
}

.control {
    display: flex;
    justify-content: space-between;
}

.control button {
    border: none;
    background-color: transparent;
    font-size: 26px;
    cursor: pointer;
}

.control input {
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}
.control input:focus {
    outline: none;
}

p {
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}
